.Topme{
    width: 100%;
    height: 400px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.myPic img{
    width: auto;
    height: 200px;
    border-radius: 50px 100px;
    border: 1px solid #373532 ;
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.15);

}
.samaan {
    color: white;
    margin-top: 15px;
}
.webDeveloper{
    margin-top: 20px;
    color: white;
    background-color: #383838;
    font-family: "Noto Sans", sans-serif;
    width: 120px;
    text-align: center;
    border-radius: 5px;
    font-weight: 300;
}
.line{
    color: #383838;
    margin-top: 10px;
}
/*middle of the first line */
.middle-me{
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.icon-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 30%;
}
.icon-me-text{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    
    gap: 35px;
    

}
.icon-me div{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-inline-start: 0.5px solid #64c0f4;
    border-block-start: 0.5px solid #64c0f4;
    flex-wrap: wrap;
    overflow: wrap;

}
.icon-me img{
    width: 20px;
    height: auto;
}

.icon-me-text div{
    font-size: 12px;
    color: white;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
}

/*bottom of me */
.bottom-me{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    gap: 10px;
}
.bottom-me img{
    width: 20px;
    height: auto;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .Topme{
        height: 300px;
    }
    .middle-me{
        height: 100px;
    }
    .myPic img{
        width: auto;
        height: 150px;
    }
    .middle-me{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .icon-me {
        width: 100%;
        flex-direction: row;
        gap: 40px;
    }
    .icon-me-text {
        width: 100%;
        flex-direction: row;
    }
    .bottom-me {
        flex-direction: row;
        gap: 5px;
    }
    
}

@media screen and (max-width: 768px) {
    .Topme{
        height: 200px;
        width: 100%;
        display: block;
        position: relative;
    }
    .myPic{
        position: absolute;
        top: 20px;
        left: 30px;
    }
    .Topme .samaan{
        position: absolute;
        top: 40px;
        left: 150px;
        width: 100%;
    }
    .webDeveloper {
        position: absolute;
        top: 70px;
        left: 150px;
    }
    .Topme .line{
        display: none;
    }
    .middle-me{
        height: 90px;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;

    }
    .icon-me {
        width: 100%;
        gap: 20px;
        position: absolute;
    }
    .icon-me-text {
        top: 50px;
        position: absolute;
        width: 100%;
    }
}

@media screen and (min-width: 360px) and (max-width: 480px){
    .middle-me {
    height: 200px;
    position: relative;
  }
  .icon-me{
    position: absolute;
    right: 30px;
  }
  .Topme .samaan{
    width: 60%;
    top: 50px;
  }
  .Topme .webDeveloper{
    position: absolute;
    top: 110px;
  }
  .icon-me{
    left: -10px;
    position: absolute;
  }
  .icon-me-text {
    gap: 10px;
    flex-direction: column;
    margin-left: 40px;
  }
  .bottom-me div{
    margin-top: 60px;
  }

}

