.portfolio{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    flex-direction: column;
}
.portfolio .portfolio-text{
    color: white;
    width: 100%;
    margin-top: 30px;
    margin-left: 30px;
}
.portfolio .line{
    width: 50px;
    height: 7px;
    margin-top: 15px;
    margin-left: 30px;
    background-color: #64c0f4;
    border-radius: 15px;
}
/*projects section*/
.portfolio .secondchild{
    width: 100%;
    margin-top: 100px;
}
.portfolio-images{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 30px;

}
.portfolio-images .projects{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}
.projects .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.projects:hover img{
    transform: scale(1.1);   
}
.projects:hover .overlay{
    opacity: 1;
}

.portfolio-images img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease;
}
.overlay img{
    width: 50px;
    height: 50px;
    border-radius: 20%;
    background-color: hsl(240, 1%, 21%);
}
.portfolio-images h3{
    color: white;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
}
.portfolio-images p{
    color: #8a8585;
    font-size: 14px;
    font-weight: 400;
}
@media screen and (max-width: 1024px) {
    .portfolio{
        position: relative;
        height: 60vh;
        width: 100%;
        border-radius: 15px;
        flex-direction: column;
    }

    
}
@media screen and (max-width: 768px) {
    .portfolio{
        position: relative;
        height: 115vh;
        width: 100%;
        border-radius: 15px;
        flex-direction: column;
    }

}
@media screen and (min-width: 360px) and (max-width: 480px){
    .portfolio{
        height: 160vh;
    }
    .portfolio .secondchild{
    margin-top: 50px;
}


}